.my-scrollbar {
  overflow-y: scroll;
}

.my-image-card {
  height: 50px !important;
  background-image: linear-gradient(to right, rgb(255, 255, 255), rgba(0, 0, 0, 0)), url('https://picsum.photos/400/200');
  background-size: cover !important;
  background-position: center !important;
}

body{
  background-color: #fbfbfb;
  background-image: url('https://picsum.photos/3200/1600');
}

.accordion-button::after {
  filter: invert(1); /* inverts color so arrow becomes white on dark backgrounds */
}